<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bob.web.mvc.mapper.BankAccountMapper">
  <!--################################ Mybatis逆向工程生成,请勿编辑! ################################-->
  <resultMap id="BaseResultMap" type="com.bob.web.mvc.entity.model.BankAccount">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="active" jdbcType="BIT" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, bank, create_time, update_time, score, rank, money, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bank_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bank_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bob.web.mvc.entity.model.BankAccount">
    <!--@mbg.generated-->
    insert into bank_account (id, user_id, bank, 
      create_time, update_time, score, 
      rank, money, active)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER}, 
      #{rank,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{active,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bob.web.mvc.entity.model.BankAccount">
    <!--@mbg.generated-->
    insert into bank_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bob.web.mvc.entity.model.BankAccount">
    <!--@mbg.generated-->
    update bank_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bob.web.mvc.entity.model.BankAccount">
    <!--@mbg.generated-->
    update bank_account
    set user_id = #{userId,jdbcType=INTEGER},
      bank = #{bank,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER},
      rank = #{rank,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      active = #{active,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--################################ Mybatis逆向工程生成,请勿编辑! ################################-->
</mapper>