<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bob.web.mvc.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.bob.web.config.model.User">
        <!-- WARNING - @mbggenerated 请勿删除自动合并标记！ -->
        <id column="ID" javaType="java.lang.Integer" jdbcType="TINYINT" property="id"/>
        <result column="USERNAME" javaType="java.lang.String" jdbcType="VARCHAR" property="userName"/>
        <result column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" property="password"/>
        <result column="AGE" javaType="java.lang.Integer" jdbcType="TINYINT" property="age"/>
        <result column="TELEPHONE" javaType="java.lang.String" jdbcType="VARCHAR" property="telephone"/>
        <result column="ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <sql id="BaseColumnList">
		ID,USERNAME,AGE,TELEPHONE,ADRESS,PASSWORD
	</sql>


    <select id="loginByName" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM USERS
        WHERE USERNAME = #{data,jdbcType=VARCHAR,javaType=java.lang.String}
        AND PASSWORD = #{password,jdbcType=VARCHAR,javaType=java.lang.String}
    </select>

    <select id="loginByTele" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM USERS
        WHERE TELEPHONE = #{telephone,jdbcType=VARCHAR,javaType=java.lang.String}
        AND PASSWORD = #{password,jdbcType=VARCHAR,javaType=java.lang.String}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap" statementType="STATEMENT">
        SELECT
        <include refid="BaseColumnList"/>
        FROM USERS
        WHERE USERNAME = ${value}
    </select>

</mapper>