# Created by .ignore support plugin (hsz.mobi)
/project-root/target/
/project-web/target/
/project-root/project-root.iml
/project-web/project-web.iml
/logs/
/.idea/
/project.iml
/project-root/src/main/resources/log4j2.xml
