# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.lastbuildtime
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
build
node_modules
_site
target
.setting
.git
.idea/inspectionProfiles/
project-root/target/generated-sources/
project-root/target/generated-test-sources/
project-web/target/generated-sources/
project-web/target/generated-test-sources/

*.log
/.gitignore
/logs/
