<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bob.mvc.mapper.IeasyContentAreaMapper">
  <!--################################ Mybatis逆向工程生成,请勿编辑! ################################-->
  <resultMap id="BaseResultMap" type="com.bob.mvc.model.IeasyContentArea">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content_id" jdbcType="BIGINT" property="contentId" />
    <result column="content_name" jdbcType="VARCHAR" property="contentName" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, content_id, content_name, area_id, area_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ieasy_content_area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ieasy_content_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bob.mvc.model.IeasyContentArea">
    <!--@mbg.generated-->
    insert into ieasy_content_area (id, content_id, content_name, 
      area_id, area_name)
    values (#{id,jdbcType=BIGINT}, #{contentId,jdbcType=BIGINT}, #{contentName,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bob.mvc.model.IeasyContentArea">
    <!--@mbg.generated-->
    insert into ieasy_content_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="contentName != null">
        content_name,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="contentName != null">
        #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bob.mvc.model.IeasyContentArea">
    <!--@mbg.generated-->
    update ieasy_content_area
    <set>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="contentName != null">
        content_name = #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bob.mvc.model.IeasyContentArea">
    <!--@mbg.generated-->
    update ieasy_content_area
    set content_id = #{contentId,jdbcType=BIGINT},
      content_name = #{contentName,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--################################ Mybatis逆向工程生成,请勿编辑! ################################-->
</mapper>